/* CSS */
.mobile {
  display: block;
}

.tablet,
.desktop {
  display: none;
}

@media (min-width: 640px) {
  .mobile,
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
}

@media (min-width: 768px) {
  .mobile,
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;



  
  .swiper {
    width: 100%;
    border-radius: 4px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    right: -120px !important;
    top: 64px !important;
    left: auto !important;
   }
   .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 4px !important;
    background-color: #33c16c !important;
    height: 5px !important;
   }
   .swiper-pagination-bullet {
    height: 5px !important;
    width: 13px !important;
    border-radius: 4px !important;
   }
   .swiper-pagination-bullet {
    width: 30px !important;
    border-radius: 4px !important;
    background-color: #33c16c !important;
    height: 5px !important;
  } 
  

.quang {
  transition: transform 0.3s ease-in-out;
}
.quang:hover {
  transform: translateY(-20px);
}
.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
display: flex !important; 
flex-direction: column-reverse !important;
}
.swiper-slide{
  background-color: transparent !important;
}
.ant-modal .ant-modal-content{
  padding: 0 !important;
}

.ant-collapse>.ant-collapse-item{
  /* border-bottom: 3px solid #203241 !important; */
  border: 0 !important;
 

}
.ant-collapse-item{
  background-color: #33414C !important;
}
.ant-collapse{
  border-radius: 0 !important;
  border: 0 !important;
}
.ant-collapse-header-text{
  color: #fff;
  font-weight: 600;
  font-size: 12px !important;
}
.collapse-arrow {
  justify-content: flex-end !important;
}
.anticon.anticon-right.ant-collapse-arrow {
  color: #fff !important;
}
.ant-collapse-content-box{
  padding: 0 !important;
  background-color: #203241 !important;
}
.ant-collapse-header-text{
  font-size: 12px !important;
}
.ant-collapse>.ant-collapse-item >.ant-collapse-header {
  padding: 12px !important;
}
.ant-collapse .ant-collapse-content {
  border-top:0 !important;
}
.ant-select-selector {
  background-color: #203241 !important;
  color: #fff !important;
}
.ant-select-focused.ant-select-single.ant-select-show-arrow.ant-select-open {
  color: #fff !important;
}

.ant-menu-item, .ant-menu-submenu-title{
  padding-left: 4px !important;
}